@import './global';
@import './color';

$footer-height: 1.5em;
$mayte-white: rgba(243,243,243,1);

html, body {
  height: 100%;
}

body {
  background-image: linear-gradient(rgba(0,0,0,1), #232037);
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: $mayte-white;
  font-family: 'Futura';
  margin: 0;

  *::selection {
    background: $color-black;
    color: white;
  }
}

a {
  color: $mayte-white;
}

p, h1, h2, h3, h4, h5 {
  margin: 0;
  font-weight: 300;
}

@import './main';
@import './footer';
@import './stars';

body.done {
  .cta { display: none; }
}

.footer-link { color: silver; text-decoration: underline  }

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    color: blue;
    opacity: 1;
  }
}

@keyframes fade-in-down {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes fade-in-up {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
