@import './global';
@import './color';

$logo-height: 100px;

html, body {
  height: 100%;
}

body {
  background: white;
  color: $color-black;
  font-family: 'Gotham';

  *::selection {
    background: $color-black;
    color: white;
  }
}

p, h1, h2, h3, h4, h5 {
  margin: 0;
  font-weight: 300;
}

a {
  cursor: pointer;
  color: cornflowerblue;
}

@import './video';
@import './main';
@import './form';

.cta { display: none }
.membership { display: none }
.partnership { display: none }

body.registering {
  .definition { display: none }
  .membership { display: block }
  footer .release { display: none }
  .tag { display: none }

  .cta { display: block; }
  .partnership {
    display: inline-flex;
    width: 100%;
    img {
      width: 87px;
      margin-left: 6px;
    }
  }
}

body.done {
  .cta { display: none; }
}
