@import './global';
@import './color';

$logo-height: 80px;

html, body {
  height: 100%;
}

body {
  background: white;
  color: $color-black;
  font-family: helvetica;

  *::selection {
    background: $color-black;
    color: white;
  }
}

p, h1, h2, h3, h4, h5 {
  margin: 0;
  font-weight: 300;
}

a {
  cursor: pointer;
  color: cornflowerblue;
}

.bg {
  top: 0; left: 0;
  z-index: 0;

  &:after {
    content: '';
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.9);
  }

  video {
    min-height: 100vh;
    min-width: 100vw;
    filter: blur(2px);
    // display: none;
  }
}

main {
  padding: 2.5% 5% 140px;
  box-sizing: border-box;
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: space-between;

  .definition {
    font-weight: 200;
    font-family: courier;
    // font-size: 4.5vw;
    font-size: 2.66em;
    margin-bottom: 60px;
  }

  .tag {
    margin-bottom: 60px;
    letter-spacing: 0.1em;
  }

  form.signup {
    margin-bottom: 60px;

    .step.one, .step.three {
      input[type="text"], input[type="email"] {
        background: none;
        border: none;
        color: black;
        border-bottom: 2px solid $color-black;
        letter-spacing: 0.1em;
        padding-bottom: 0.25em;
        margin-right: 0.5em;
        outline: none;
        font-size: 1em;
        border-radius: 0;
      }

      .submitter {
        border: 3px solid $color-black;
        border-radius: 3px;
        width: 2em;
        height: 2em;

        input[type="submit"] {
          background: none;
          border: none;
          top: 0; left: 0;
          width: 100%; height: 100%;
        }

        svg {
          width: 100%;
          height: 100%;

          * {
            stroke: $color-black;
            fill: $color-black;
          }
        }

        &:hover {
          background-color: $color-black;
          color: white;

          svg {
            * {
              stroke: white;
              fill: white;
            }
          }
        }
      }

    }

    .step.two {
      .cta {
        font-size: 1em;
        letter-spacing: 0.1em;
        margin-bottom: 1em;
      }
      .link {
        margin-right: 0.8em;

        &:last-of-type {
          margin-right: 0;
        }

        img {
          width: 30px;
          height: 30px;
        }
      }
    }

    .error {
      top: calc(100% + 0.66em);
      left: 50%;
      transform: translate(-50%, 0);
      letter-spacing: 0.05em;
      width: 90%;
    }
  }

}

footer {
  text-align: center;
  width: 100%;

  .logo {
    max-width: 100px;
    max-height: 100px;
    bottom: 0; left: 0;
  }

  .release {
    letter-spacing: 0.1em;
  }
}

@media screen and (max-width: 480px) {
  main {
    padding: 5% 5% $logo-height;
    display: block;
    min-height: 500px;
    height: 100%;

    .definition {
      font-size: 8vw;
    }
    .tag {
      font-size: 4vw;
    }

  }
  footer {
    text-align: left;
    position: absolute;
    bottom: 0; left: 0;
    width: 100%;
    display: flex;

    .logo {
      position: relative!important;
      vertical-align: middle;
    }
    .release {
      flex: 1;
    }
  }
}
