main {
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-around;

  .phone {
    .img-cont {
      height: 800px;
      max-height: 66vh;
      img {
        height: 100%;
        width: auto;
      }
    }

    .app-store {
      display: block;
      margin: 1em auto 0;
      max-width: 120px;
    }
  }

  .content {
    flex: 1;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    padding: 1em;
    box-sizing: border-box;
  }

  .cnr {
    min-width: 300px;
    padding: 2em 0;
  }

  .logos {
    max-width: 100px;
    display: block;
    margin: 0 auto;
    .icon {
      width: 66%;
      margin-bottom: 1em;
    }
    .type {
      width: 100%;
      margin: 0 auto;
    }
  }

  .tag {
    margin: 1em 0 0.33em;
    font-size: 3em;
    letter-spacing: 0.1em;
    font-weight: 700;
    transform: translateX(0.05em);
  }
}

@media screen and (max-width: 800px) {
  main {
    display: block;
  }

  .content {
    flex-flow: column nowrap!important;
  }

  .cnr.phone {
    order: 2;

    .img-cont {
      height: auto;
      width: 90%;
      max-height: none;

      img {
        width: 100%;
        max-width: 300px;
        height: auto;
      }
    }
  }
  .cnr.copy {
    order: 1
  }
}

@media screen and (max-width: 480px) {
  main {
    .tag {
      font-size: 10vw;
    }
    .email {
      font-size: 3.5vw;
    }
  }
}
